html {

    scrollbar-width: none;

    overflow: hidden;

}

body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

}

.header {

    background-color: #f4bf00;

    color: #fff;

    padding: 20px; 

}

.logo {

    float: left;

    margin-right: 20px;

}

a {
    
    text-decoration: none;

    color: inherit;

}

.masuk {

    position: relative;

    font-size: 36px;

    font-family: sans-serif;

    font-weight: bold;

    text-align: center;

}

.welcome-back {

    padding-top: 15%;

    padding-left: 10%;

    font-size: 24px;

    font-weight: bold;

    text-shadow: #444;

}

.form {

    display: flex;

    flex-direction: column;

    width: 75%;

    padding-top: 15%;

    padding-left: 10%;

}

.form-input {

    padding: 10px;

    width: 100%;

    margin-bottom: 15%;

    border: 1px solid #ccc;

    background-color: #ccc;

    border-radius: 5px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.forgot-password {

    margin-bottom: 15%;

    text-align: right;

    font-size: 14px;

}

.login-button-container {

    text-align: right;

}

.login-button {
    
    margin-bottom: 15%;

    background-color: #F4BF00;

    color: black;

    padding: 10px 35px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

.login-button:hover {

    background-color: #444;

}

.help {

    font-size: 14px;

    text-align: center;

}

.footer {

    position: absolute;

    width: 100%;

    bottom: 0;

    background-color: #F4BF00;

    color: #fff;

    padding: 20px;

    text-align: center;

    clear: both;

}